body {
    margin: 0px;
    padding: 0px;
    /* min-height: 100vh; */
    color: #F5F5F5;
    font-family: 'Kalam', cursive;
}

body {
    background-image: url("/static/img/bg_main5.jpg");
    background-position: center;
    background-attachment: fixed;
    /* background-size: 100%; */
}

/* nav { */
    /* background-image: url("/static/img/bg-lintel.jpg"); */
    /* background-color: #43464B; */
/* } */

section {
    /* min-height: 800px; */
}

.hero-image {
    border: 10px solid rgb(208, 208, 208, .2);
    /* Additional styling if needed */
    border-radius: 8px; /* Rounded border */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    /* background-color: #C0C0C0; */
    background-color: rgb(208, 208, 208, .1);
}

.hero-quote {
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Lobster', sans-serif; */
}

#current-theme-song {
    visibility: hidden;
}