body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    color: #F5F5F5;
    font-family: 'Kalam', cursive;
}

body {
    background-image: url("/static/img/bg_main_dalle3.png");
    background-position: center;
    background-attachment: fixed;
    /* background-size: 100%; */
}

section {
    background-color: rgba(0,0,0, 0.6);
}

main {
    font-size: 25px;
}

.nav-link {
    font-size: larger;
}

.hero-image {
    border: 10px solid rgb(208, 208, 208, .2);
    /* Additional styling if needed */
    border-radius: 8px; /* Rounded border */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    /* background-color: #C0C0C0; */
    background-color: rgb(208, 208, 208, .1);
}

.hero-quote {
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Lobster', sans-serif; */
}

.music-control {
    display: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.8);
    color: black;
    z-index: 1;
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

.music-control img {
    height: 20px;
    display: none;
}

.whatsapp-float {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

/* Custom CSS for Pricing Section */
.pricing-section {
    /* background-color: #f4f4f4; */
    padding: 80px 0;
}
.pricing-table {
    /* background-color: #fff; */
    border: 2px solid #fff; /* White border at the top */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.pricing-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.pricing-price {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    border-top: 2px solid #fff; /* White border at the top */
    border-bottom: 2px solid #fff; /* White border at the bottom */
}
.pricing-features {
    list-style: none;
    padding: 0;
}
.pricing-features li {
    margin-bottom: 10px;
}
