.music-anim {
    display: none;
}

.music-anim-left {
    position: fixed;
    bottom: 200px;
    color: rgba(255, 255, 255, 0.5);
}

.music-anim-right {
    position: fixed;
    bottom: 200px;
    right: 150px;
    color: rgba(255, 255, 255, 0.5);
}

.note-position-1 {
    top: 150px;
}

.note-position-2 {
    top: 180px;
    left: 50px;
}

.note-position-3 {
    top: 160px;
    left: 100px;
}

.note-position-4 {
    top: 155px;
    left: 75px;
}

.animation-delay-1 {
    animation-delay: 1s;
}

.animation-delay-2 {
    animation-delay: 2s;
}

.note-amination {
    position: absolute;
    /* left: 10px;
  bottom: 10px;  */
    font-size: 35px;
    animation-name: notes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
}

@keyframes notes {
    0% {
        font-size: 35px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        font-size: 60px;
        margin-top: -150px;
        opacity: 0;
    }
}
